.panel-container{
    height: 100%;
    width: 100%;
    background-color: #fff;
    outline: 1.5px solid #8e93ff30;
    display: flex;
    flex-direction: column;

    .panel-top{
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .title{
            font-size: 1.2rem;
            color: #73879C;
            font-weight: 500;
        }

        .divisor{
            height: 1px;
            width: 100%;
            background-color: #73879C;
        }
    }
}