.side-panel-container{
    position: relative;
    min-width: 15%;
    height: 100%;
    background-color: #004360;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    .top-container{
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        row-gap: 0.5rem;
        padding: 30px 15px;

        h1{
            font-size: 1.2rem;
            font-weight: 500;
        }

        h2{
            color: #ffffff80;
            font-size: 0.8rem;
        }
    }

    .bottom-container{
        display: flex;
        flex-direction: column;
        
        .link{
            width: 100%;
            padding: 15px 15px;
            color: #fff;
            font-size: 0.8rem;
            display: flex;
            align-items: center;

            .icon{
                margin-right: 1rem;
                font-size: 1.2rem;
            }

            &.active{
                background-color: #055c81;
            }
        }
    }
}